:root {
    --main-color: black;
    --accent--color: rgb(51, 145, 228);
    --highlight--color: red;
} 

img {
    display: block;
    width: 100%;
}

.logo {
    color: red;
    border: 10px solid aliceblue;
}

.menu {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}


.menu a {
    border: 10px solid green;
    display: block;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.menu a:hover{
    text-decoration: underline;
}

header .banner {
    background-image: url(../img/baby-yoda.svg);
    background-size: cover;
    min-height: 400px;
    background-position: center;
}

main div.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media(min-width: 800px ) {
    main div.products 
       grid-template-columns: 1fr ;

}